# Server
PORT=4000
NODE_ENV=development

# Database (Supabase/Neon PostgreSQL)
DATABASE_URL="postgresql://postgres:6Y-xb.wq?74w$Ef@db.daxniiqckovchemeurhp.supabase.co:5432/postgres"

# Supabase Storage
SUPABASE_URL="https://daxniiqckovchemeurhp.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRheG5paXFja292Y2hlbWV1cmhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwNDExODEsImV4cCI6MjA4MDYxNzE4MX0.iSHp0W-CKijsdvsLdBRGPWmNG9BvhH3Ug0lS6ZZMItE"
SUPABASE_BUCKET_NAME="grow-photos"

# Internal Microservices (Docker Network DNS)
MS_SONOFF_URL="http://sonoff-service:3000"
MS_TUYA_URL="http://tuya-service:3000"

# Auth
JWT_SECRET="YOUR_SECURE_JWT_SECRET_KEY"
ADMIN_USER="admin"
ADMIN_PASSWORD="secure_password"
